html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
}

body {
    margin: 0;
    font-size: 10px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    line-height: 1.5;
    color: #666;
    background-color: #fff;
    min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

progress {
    vertical-align: baseline;
}

[hidden],
template {
    display: none;
}

a {
    background: transparent;
    text-decoration: none;
    color: #08c;
}

a:active {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

pre {
    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    vertical-align: middle;
}

button,
input,
select {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
    vertical-align: top;
}

optgroup {
    font-weight: bold;
}

input,
select,
textarea {
    outline: 0;
}

textarea,
input {
    -webkit-user-modify: read-write-plaintext-only;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
}

.placeholder {
    color: #999;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
    margin: 0;
}

ul,
ol,
li,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none outside none;
}

h1,
h2,
h3 {
    line-height: 2;
    font-weight: normal;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

i {
    font-style:normal;
}

* {
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}


/* 头部导航 */
.top {
    border: 1px solid rgb(236, 236, 236);
}

.logo {
    cursor: pointer;
    line-height: 75px;
}

.logo img {
    width: 153px;
    height: 30px;
}

.navXS {
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navXS .search {
    background: url(../images/tb3.png)no-repeat;
}

.user {
    background: url(../images/tb2.png)no-repeat;
}

.goodscar {
    background: url(../images/tb1.png)no-repeat;
}

.navXS .search,
.user,
.navXS .goodscar {
    width: 20px;
    height: 20px;
    margin-right: 22.5px;
    background-size: 20px 20px;
    cursor: pointer;

}

.menu {
    width: 35px;
    height: 24px;
    background: url(../images/menu.png)no-repeat;
    background-size: 35px 24px;
}

.menu_off {
    background: url(../images/tb4.png)no-repeat;
}

.menu_nav {
    display: none;
    position: absolute;
    z-index: 100;
    right: 0px;
    top: 77px;
    padding-top: 22px;
    padding-bottom: 22px;
    background: rgba(6, 11, 20, 0.8);
}

.menu_nav li {
    color: white;
    font-size: 1.4rem;
    line-height: 4rem;
    padding-left: 58px;
    padding-right: 58px;
}

.navMD {
    display: none;
}

._navMD {
    height: 85px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.phone {
    padding-left: 36px;
    padding-right: 16px;
    height: 30px;
    background: url(../images/tel.png) no-repeat 0px 4px;
}

.phone i {
    font-style: italic;
    font-size: 20px;
    color: rgb(217, 97, 0);
}

._navMD .search {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    background: url(../images/search.png) no-repeat;
}

.Land,
.register {
    line-height: 28px;
    cursor: pointer;
    margin-right: 5px;
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #ccc;
    color: #333333;
    border-radius: 4px;
}

._navMD12 {
    cursor: pointer;
    display: none;
    height: 58px;
}

.top_nav12 li {
    float: left;
    font-size: 16px;
    line-height: 58px;
    padding-right: 15px;
    margin-right: 35px;
}

.top_nav12 li:hover {
    color: rgb(217, 97, 0);
    background: url(../images/nav-li-img1.png)no-repeat right;
}

.actived {
    color: rgb(217, 97, 0);
}

.top_nav12_s {
    background: url(../images/nav-li-img2.png)no-repeat right;
}
.top_nav12_x{
    color: rgb(217, 97, 0);
}
.top_help {
    height: 58px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top_help li {
    padding-left: 28px;
    padding-right: 28px;
    border-right: 1px solid #ccc;
}

.order {
    background: url(../images/Orders.png)no-repeat left;
}

.top_help .goodscar {
    display: block;
    border: none;
    width: 30px;
    background: url(../images/shop-car.png)no-repeat center;
}

/* banner */
.banner {
    background: rgb(247, 247, 247);
    overflow: hidden;
}

.banner_1 {
    display: none;
}

.banner_1 img {
    margin-bottom: 3%;
}


/* cards */
.cards {
    padding-top: 12px;
    padding-bottom: 12px;
}

.cards img {
    width: 100%;
    margin-bottom: 12px;
}
@media (min-width: 1366px){
.cards a img{
    width: 290px;
    height: 350px;
    /* -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear; */
    transition: all 0.5s linear;

}
}

/* serve */

.serve {
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgb(247, 247, 247);
}

.serve_card {
    color: white;
    position: relative;
    text-align: center;
}

.serve_card h2 {
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
}

.serve_card img {
    display: inline-block;
    width: 60%;
    max-width: 90px;
    border: none;
    margin-top: -25px;
}

.serve_link_dis {
    display: none;
}

.serve_card a {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: url(../images/cp-img7.png)no-repeat;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.serve_card.item1 {
    background-color: #dd7025;
}

.serve_card.item2 {
    background-color: #e0af75;
}

.serve_card.item3 {
    background-color: #899db6;
}

.serve_card.item4 {
    background-color: #8ccabf;
}

/* news */
.news {
    overflow: hidden;
    padding: 30px 0;
    background-color: #fff;
}

.news h3 {
    height: 1.3rem;
    padding-left: 7px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 1.3rem;
    line-height: 1.2rem;
    color: #000;
    border-left: 3px solid #d55d0b;
}

.news img {
    width: 100%;
}

.wen1 {
    width: 200px;
}

.wen1 span {
    color: #151f34;
    font-size: 1rem;
    line-height: 1.5rem;
    display: -webkit-box;
    margin-top: 10px;
    /* margin-left: 10px; */
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.qian {
    margin-top: 3px;
}

.qian span {
    color: red;
    font-size: 1rem;
}

.chanp2 {
    margin-bottom: 18%;
}

.appliance {
    background: rgb(242, 242, 242);
    padding-top: 40px;
    padding-bottom: 40px;
}

.appliance_poster1 {
    display: none;
}

.appliance_goods h3 {
    line-height: 1.5rem;
    font-size: 1.3rem;
    color: #000;
    padding-top: 0.8rem;
}

.appliance_goods>span {
    font-size: 1.1rem;
    color: #999;
    line-height: 1.2rem;
    display: block;
    margin-top: 1rem;
}

.appliance_goods b {
    font-size: 1.9rem;
    color: #ee3532;
    display: block;
    font-weight: bold;
    line-height: 3rem;

    margin-bottom: 0.2rem;
}

.appliance_goods b>span {
    font-size: 1.4rem;
    color: #ee3532;
}

.appliance_goods button {
    outline: none;
    border: none;
    margin: 0 8px;
    border-radius: 5px;
    width: 40%;
    min-height: 30px;
    background-color: #ee3532;
    color: #fff;
    font-size: 1rem;
}

.appliance_goods button.last {
    margin-left: 5px;
    background-color: white;
    color: #5f5f5f;
}


/* question */
.questions {
    padding-top: 40px;
    padding-bottom: 40px;
}

[class*="question"] h3,
.about h3 {
    font-size: 1.1rem;
    line-height: 3.2rem;
    color: white;
    padding-left: 15px;
}

.question1 h3 {
    background: rgb(137, 157, 182);
}
.question1 h3  img{
    border-radius: 50%;
    margin-left: 15px;
    vertical-align: middle;
    background: rgb(137, 157, 182);
}
.question2 h3{
    background-color: #e0af75;
}
.question2 h3 img{
    border-radius: 50%;
    margin-left: 15px;
    vertical-align: middle;
    background: #e0af75;
}

.question3 h3 {
    background: rgb(140, 202, 191);
}
.question3 h3 img{
    margin-left: 15px;
    border-radius: 50%;
    vertical-align: middle;
    background: rgb(140, 202, 191);
}

[class*="question"] h3 a {
    float: right;
    width: 26px;
    height: 14px;
    background: url(../images/tb6.png)no-repeat;
    margin-top: 20px;
    margin-right: 10px;
}

[class*="question"] h3 i {
    display: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    /* background: pink url(../images/cp-img8.png) no-repeat; */
    margin-left: 10px;
    vertical-align: middle;
    margin-right: 10px;
}

.on_question {
    background: url(../images/tb5.png)no-repeat !important;
}

[class*="question"] ul {
    padding-left: 15px;
    display: none;
    background: rgb(242, 242, 243);
}

[class*="question"] ul li {
    margin-left: 15px;
    list-style: initial;
    font-size: 1rem;
    line-height: 2.5rem;
}

[class*="question"] ul li a {
    color: rgb(102, 102, 102);
}

[class*="question"] ul li a:hover,
.about ul li a:hover {
    text-decoration: underline;
}

.about {
    background: rgb(97, 101, 118);
    color: #fff;
}




.about h3>a {
    float: right;
    width: 19px;
    height: 19px;
    background: url(../images/tb7.png)no-repeat;
    margin-top: 20px;
    margin-right: 10px;
}

.about ul {
    display: none;
}

.about_h3_bor {
    border-bottom: 1px solid white;
}

.about ul li {
    padding-left: 30px;
}

.about ul li a {
    color: white;
    font-size: 1rem;
    line-height: 2rem;
}
/* about_md */
.about_md {
    display: none;
    overflow: hidden;
    padding-top: 35px;
    padding-bottom: 35px;

}

.about_md_left {
    width: 70%;
    float: left;
    flex-direction: row;
    
}
.about_md_left>div {
    float: left;
    margin-left:20px;
    margin-right: 7%;
}

.about_md .container>div {
    display: inline-block;
}

.about_md_ul h3 {
    font-size: 1rem;
    line-height: 2.3rem;
    color: #000;
    padding-bottom: 8px;
}

.about_md_ul li a {
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: #5f5f5f;
}

.about_md_contcat {
    width: 30%;
    float: right;
    border-left: 1px solid #ccc;  
}

.about_md_contcat>div{
    float: right;
    text-align: right;
}
.about_contact{
    padding-top: 10px;
    margin-right: 10px;
}
.tell_N{
    font-size: 1.4rem;
    line-height: 2.5rem;
}
.about_contact a{
    display:inline-block;
    width: 70px;
    text-align: center;
    line-height: 25px;
    color: white;
    background: rgb(16, 51, 126);
    border-radius: 4px;
}


/* footer */
.footer_xs{
    padding-top: 15px;
    background: rgb(97, 101, 118);
    text-align: center;
    font-size: 0.8rem;
    color: white;
}

.footer_md{
    display: none;
    overflow: hidden;
    padding-top: 10px;
   margin-bottom: 30px;
}

.footer_md .foot_logo,.footer_md .foot_link{
    float: left;
}
.foot_link>ul{
    padding-left: 20px;
}
.foot_link>ul>li{
    float: left !important;
    padding: 0 10px 0 10px;
    border-right: 1px solid #ccc;
}
.foot_link>ul>li>a{
    color: #5f5f5f;
}
.foot_link>p{
    padding-left: 30px;
    padding-top: 25px;

}
.foot_koubei{
    width: 300px;
    float: right;
}
.foot_koubei>div{
    float: right;
    width: 100px;
}
.foot_koubei img{
    float: left;
    padding:10px;
}
@media screen and (max-width:1230px){
    .foot_logo{
        display: none !important;
    }
}
.foot_koubei_cont{
   float: left;
}




.padd0 {
    padding: 0;
}

.dis_none {
    display: none;
}

/* 手机 */
@media screen and (max-width:1024px) {

    /* banner */
    .banner .container {
        padding-left: 0;
        padding-right: 0;
    }

    .banner .container .row {
        margin-left: 0;
        margin-right: 0;
    }

    .banner .container .row [class*="col-"] {
        padding-left: 0px;
        padding-right: 0px;
    }

    /* serve */
    .serve [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }

    
}

/* pc */
@media screen and (min-width:1024px) {

    /* 导航 */
    .navXS {
        height: 85px;
    }

    .logo img {
        width: 220px;
        height: 42px;
    }

    .navXS {
        display: none;
    }

    .navMD {
        display: block;
    }

    ._navMD12 {
        display: block;
    }

    /* banner */
    .banner {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .banner_1 {
        display: block;
    }

    /* serve */
    .serve_link_dis {
        display: block;
    }

    .serve_card {
        margin-left: 6px;
        margin-right: 6px;

    }

    /* .news */
    .appliance_poster1 {
        display: block;
    }

    /* .chanp5,
    .chanp6 {
        display: none;
    } */

    .wen1,
    .qian {
        margin-left: 30px;
    }

    .appliance_goods {
        margin-top: 40px;
    }

    .questions {

        background: rgb(247, 247, 247);
    }

    [class*="question"] h3 {
        background: none;
        color: #000;
    }

    [class*="question"] ul {
        display: block !important;
        color: white;

    }

    .question1 ul {
        background: rgb(137, 157, 182);
    }

    .question2 ul {
        background: #e0af75;
    }

    .question3 ul {
        background: rgb(140, 202, 191);
    }

    [class*="question"] ul li {
        margin-left: 15px;
        list-style: initial;
        font-size: 0.8rem;
        line-height: 2.5rem;
    }

    [class*="question"] ul li a {
        color: white;
    }

    [class*="question"] h3 i {
        display: inline-block;
    }

    [class*="question"] h3 a {
        display: none;
    }

    /* about */
    .about {
        display: none;
    }

    .about_md {
        display: block;
    }

    .footer_xs{
        display: none;
    }
    .footer_md{
        display: block;
    }

}

/* .swiper */
